/* font style start */
*{
    font-family: "Poppins", sans-serif;
}
.bangla-font{
    font-family: "Hind Siliguri", sans-serif;
}
/* font style end */

.active{
    background: #3B25C1;
    color: white;
}